# Ignore macOS .DS_Store files
.DS_Store

# Ignore virtual environment
venv/


CSV_FILES/
lightning_logs/
wandb/

data/*
!data/README.md
!data/data_set_generator.py

LOGS_TESTING/
LOGS_TRAINING/

old_trained_models/
trained_models/
trained_models_2_way/
trained_models_6_way/
Zero_SHOT/



# Ignore Python bytecode files
__pycache__/
*.pyc
